{% load static %}

<script src="{% static 'dashboard/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'dashboard/js/jquery-migrate-3.1.0.min.html' %}"></script>
<script src="{% static 'dashboard/js/mmenu.min.js' %}"></script>
<script src="{% static 'dashboard/js/tippy.all.min.js' %}"></script>
<script src="{% static 'dashboard/js/simplebar.min.js' %}"></script>
<script src="{% static 'dashboard/js/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'dashboard/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'dashboard/js/snackbar.js' %}"></script>
<script src="{% static 'dashboard/js/clipboard.min.js' %}"></script>
<script src="{% static 'dashboard/js/counterup.min.js' %}"></script>
<script src="{% static 'dashboard/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'dashboard/js/slick.min.js' %}"></script>
<script src="{% static 'dashboard/js/custom.js' %}"></script>