{% load static %}
<!-- main jQuery -->
<script src="{% static 'backend/js/jquery.js' %}"></script>
<!-- Wow Script -->
<script src="{% static 'backend/js/wow.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'backend/js/bootstrap.min.js' %}"></script>
<!-- bx slider -->
<script src="{% static 'backend/js/jquery.bxslider.min.js' %}"></script>
<!-- Fancybox Script -->
<script src="{% static 'backend/js/jquery.fancybox.js' %}"></script>
<!-- count to -->
<script src="{% static 'backend/js/jquery.countTo.js' %}"></script>
<script src="{% static 'backend/js/appear.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'backend/js/owl.js' %}"></script>
<!-- validate -->
<script src="{% static 'backend/js/validation.js' %}"></script>
<!-- mixit up -->
<script src="{% static 'backend/js/jquery.mixitup.min.js' %}"></script>
<!-- isotope script-->
<script src="{% static 'backend/js/isotope.js' %}"></script>
<!-- Easing -->
<script src="{% static 'backend/js/jquery.easing.min.js' %}"></script>
<!-- Gmap helper -->
<script src="http://maps.google.com/maps/api/js?key=AIzaSyB2uu6KHbLc_y7fyAVA4dpqSVM4w9ZnnUw"></script>
<!--Gmap script-->
<script src="{% static 'backend/js/gmaps.js' %}"></script>
<script src="{% static 'backend/js/map-helper.js' %}"></script>
<!-- jQuery ui js -->
<script src="{% static 'backend/assets/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
<!-- Language Switche  -->
<script src="{% static 'backend/assets/language-switcher/jquery.polyglot.language.switcher.js' %}"></script>
<!-- jQuery timepicker js -->
<script src="{% static 'backend/assets/timepicker/timePicker.js' %}"></script>
<!-- Bootstrap select picker js -->
<script src="{% static 'backend/assets/bootstrap-sl-1.12.1/bootstrap-select.js' %}"></script> 
<!-- html5lightbox js -->                              
<script src="{% static 'backend/assets/html5lightbox/html5lightbox.js' %}"></script>



<!-- thm custom script -->
<script src="{% static 'backend/js/custom.js' %}"></script>