<section class="working-steps-area">
    <div class="container">
        <div class="sec-title text-center">
            <h3>How It Works</h3>
            <div class="title">Follow 4 Easy Steps</div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <ul class="fix text-center">
                    <!--Start Single working steps Box-->
                    <li class="single-working-steps-box wow fadeInUp">
                        <div class="icon-holder">
                            <span class="flaticon-clock"></span>
                            <div class="count">
                                <h5>01</h5>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h4><a href="#">Search and<br> Shortlist</a></h4>
                            <p>Discover and choose cleaning experts.</p>
                        </div>
                    </li>
                    <!--End Single working steps Box-->
                    <!--Start Single working steps Box-->
                    <li class="single-working-steps-box wow fadeInUp" data-wow-delay="300ms">
                        <div class="icon-holder">
                            <span class="flaticon-architect"></span>
                            <div class="count">
                                <h5>02</h5>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h4><a href="#">Schedule Your<br> Meet</a></h4>
                            <p>Book a convenient meeting time.</p>
                        </div>
                    </li>
                    <!--End Single working steps Box-->
                    <!--Start Single working steps Box-->
                    <li class="single-working-steps-box wow fadeInUp" data-wow-delay="600ms">
                        <div class="icon-holder">
                            <span class="flaticon-handshake-1"></span>
                            <div class="count">
                                <h5>03</h5>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h4><a href="#">Meet Your<br> Cleaning Expert</a></h4>
                            <p>Connect with your chosen professional.</p>
                        </div>
                    </li>
                    <!--End Single working steps Box-->
                    <!--Start Single working steps Box-->
                    <li class="single-working-steps-box wow fadeInUp" data-wow-delay="900ms">
                        <div class="icon-holder">
                            <span class="flaticon-cleaning-service"></span>
                            <div class="count">
                                <h5>04</h5>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h4><a href="#"></a>Relax &amp; Get a Best<br> Cleaning Service</h4>
                            <p>Enjoy top-notch cleaning effortlessly.</p>
                        </div>
                    </li>
                    <!--End Single working steps Box-->
                  
                </ul>
            </div>
        </div>
    </div>
</section>