{% load static %}

<section class="latest-blog-area">
    <div class="container">
        <div class="sec-title text-center">
            <h3>News & Updates</h3>
            <div class="title">Latest Blog Posts</div>
        </div>
        <div class="row">
            <!--Start single blog post-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post mxwidth">
                    <div class="img-holder">
                        <img src="{% static 'backend/images/blog/latest-blog-1.jpg'%}" alt="Awesome Image">
                        <div class="post-date">
                            <h6>Jan 18, 2019</h6>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title"><a href="news-single.html">Reasons to act now with water damage restoration.</a></h3> 
                        <div class="meta-box">
                            <ul class="meta-info">
                                <li><a href="#">By Layerdrops</a></li>
                                <li><a href="#">0 Comments</a></li>
                            </ul>   
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post mxwidth">
                    <div class="img-holder">
                        <img src="{% static 'backend/images/blog/latest-blog-2.jpg'%}" alt="Awesome Image">
                        <div class="post-date">
                            <h6>Jan 10, 2019</h6>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title"><a href="news-single.html">Introducing fireline cleaning services.</a></h3> 
                        <div class="meta-box">
                            <ul class="meta-info">
                                <li><a href="#">By Layerdrops</a></li>
                                <li><a href="#">2 Comments</a></li>
                            </ul>   
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-blog-post mxwidth">
                    <div class="img-holder">
                        <img src="{% static 'backend/images/blog/latest-blog-3.jpg'%}" alt="Awesome Image">
                        <div class="post-date">
                            <h6>Jan 8, 2019</h6>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title"><a href="{% static 'backend/news-single.html' %}">Carpet cleaning tips for allergy sufferers.</a></h3> 
                        <div class="meta-box">
                            <ul class="meta-info">
                                <li><a href="#">By Layerdrops</a></li>
                                <li><a href="#">3 Comments</a></li>
                            </ul>   
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->

            <!-- Dynamic Blogs-->
            {% for blog in blogs %}
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="single-blog-post mxwidth">
                        <div class="img-holder">
                            <img src="/media/{{blog.blog_image}}" alt="Awesome Image" style="width: 100%; height: 400px; object-fit: cover;">
                            <div class="post-date">
                                <h6>{{ blog.created_at|date:"M d, Y"}}</h6>
                            </div>
                        </div>
                        <div class="text-holder">
                            <h3 class="blog-title"><a href="{% url 'backend:AddBlogPosts' blog_id=blog.id %}">{{blog.blog_title}}</a></h3> 
                            <div class="meta-box">
                                <ul class="meta-info">
                                    <li><a href="#">{{blog.uploaded_by}}</a></li>
                                    <li><a href="#">0 Comments</a></li>
                                </ul>   
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>