{% load static %}

<footer class="footer-area">
    <div class="shape wow fadeInRight" data-wow-duration="3000ms"><img class="zoom-fade" src="{% static 'backend/images/footer/shape1.png' %}" alt=""></div>
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget marbtm50">
                    <div class="footer-logo">
                        <a href="{% url 'backend:Home' %}">
                            <img src="{% static 'backend/images/resources/logo.png'%}" alt="Awesome Logo">
                        </a>
                    </div>
                    <div class="company-info">
                        <div class="text-box">
                            <p>We are professional carpet cleaning experts in your town. Right carpet to fill a space can contribute to the overall character of your home or office space.</p>
                        </div>    
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget marleft70 marbtm50">
                    <div class="title">
                        <h3>Explore</h3>
                    </div>
                    <ul class="explore-links">
                        <li><a href="{% url 'backend:AboutUs' %}">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{% url 'backend:WhyChooseUs' %}">Why Choose Us</a></li>
                        <li><a href="#">Plans & Pricing</a></li>
                        <li><a href="#how-it-works">How They Works</a></li>
                    </ul>   
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            {% comment %} <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget marleft30">
                    <div class="title">
                        <h3>Legal</h3>
                    </div>
                    <ul class="legal-links">
                        <li><a href="#">Join us</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>  
                </div>
            </div> {% endcomment %}
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget marleft40 pdtop50">
                    <div class="title">
                        <h3>You have any Question?</h3>
                    </div>
                    <ul class="contact-info">
                        <li>
                            <span>Contact us</span>
                            <h3>9324843109</h3>
                        </li>
                        <li>
                            <span>Request a Free Quote</span>
                            <h3>Fill out Form</h3>
                        </li>
                        <li>
                            <div class="text">
                                <p>SJ Road, Lower Parel (West),<br> Mumbai 400013, INDIA</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            
        </div>
    </div>
</footer>