{% load static%}

<section class="choose-area" style="background-image:url({% static 'backend/images/parallax-background/choose-bg.jpg' %});">
    <div class="container">
        <div class="sec-title clr-white text-center">
            <h3>Why You Should Choose Us</h3>
            <div class="title">Reasons to Choose Us</div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <ul class="choose-content fix">
                    <li class="single-choose-box wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <span class="flaticon-medal"></span> 
                        <h4>Qualified<br> Experts</h4>   
                    </li>
                    <li class="single-choose-box wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <span class="flaticon-calendar"></span> 
                        <h4>Service on<br> Schedule</h4>   
                    </li>  
                    <li class="single-choose-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <span class="flaticon-portfolio"></span> 
                        <h4>Affordable<br> Prices</h4>   
                    </li>  
                    <li class="single-choose-box wow fadeInUp" data-wow-delay="800ms" data-wow-duration="1500ms">
                        <span class="flaticon-support-1"></span> 
                        <h4>Reliable<br> Service</h4>   
                    </li>  
                    <li class="single-choose-box wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
                        <span class="flaticon-offer"></span> 
                        <h4>Special<br> Offers</h4>   
                    </li>      
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-us text-center wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
                    <h3>Don’t hesitate, contact us for help and services. <a href="#">Book Online</a></h3>
                </div>
            </div>
        </div>
    </div>
</section> 