{% load static%}
<section class="testimonial-section-one">
    <div class="container">
        <div class="testimonial-outer">
            <div class="testimonial-text">
                <p>Testimonials</p>    
            </div>
            <div class="client-thumb-outer">
                <div class="client-thumbs-carousel owl-carousel owl-theme">

                    {% for rating in ratings %}
                        {% if forloop.counter == 2 %}
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="/media/{{rating.profile}}" alt="profiles"></figure>
                            </div>
                        {% elif forloop.counter == 0 %}
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="/media/{{rating.profile}}" alt="profiles"></figure>
                            </div>
                        {% else %}
                            <div class="thumb-item">
                                <figure class="thumb-box"><img src="/media/{{rating.profile}}" alt="profiles"></figure>
                            </div>
                        {% endif%}
                    {% endfor %}

                </div>
            </div>
            <div class="client-testimonial-carousel owl-carousel owl-theme">
                <!--Testimonial Dynamic One-->
                {% for rating in ratings %}
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <div class="text">
                                {{rating.feedback}}
                            </div>
                        </div>
                        <div class="author-content text-center">
                            <div class="review-box">
                                <ul>
                                    {% with counter=rating.rating %}
                                        {% for _ in 'x'|ljust:counter %}
                                            <li><i class="fa fa-star"></i></li>
                                        {% endfor %}
                                    {% endwith %}
                                </ul>
                            </div>
                            <h4>{{rating.first_name}} {{rating.last_name}} <span>Our Customers</span></h4>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>