{% load static %}

<section class="services-style1-area secpd1">
    <div class="container">
        <div class="sec-title text-center">
            <h3>Our Sevices</h3>
            <div class="title">House Help Services</div>
        </div>
        <div class="row">
            <!--Start single solution style1--> 
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12"> 
                <div class="single-service-style1 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1200ms">
                    <div class="inner">
                        <div class="img-holder">
                            <img src="{% static 'backend/images/services/1.jpg'%}" alt="Awesome Image">   
                        </div>
                    </div>
                    <div class="text-holder text-center">
                        <div class="button">
                            <a href="{% url 'backend:Service' service_id=1 %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>    
                        </div>
                        <h4><a href="{% url 'backend:Service' service_id=1 %}">Home<br> Cleaning</a></h4>
                    </div>
                </div>
            </div>
            <!--End single solution style1-->
            <!--Start single solution style1--> 
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12"> 
                <div class="single-service-style1 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="inner">
                        <div class="img-holder">
                            <img src="{% static 'backend/images/services/2.jpg'%}" alt="Awesome Image">   
                        </div>
                    </div>
                    <div class="text-holder text-center">
                        <div class="button">
                            <a href="{% url 'backend:Service' service_id=2 %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>    
                        </div>
                        <h4><a href="{% url 'backend:Service' service_id=2 %}">Laundry &amp;<br> Washing</a></h4>
                    </div>
                </div>
            </div>
            <!--End single solution style1-->
            <!--Start single solution style1--> 
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12"> 
                <div class="single-service-style1 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner">
                        <div class="img-holder">
                            <img src="{% static 'backend/images/services/3.jpg' %}" alt="Awesome Image">   
                        </div>
                    </div>
                    <div class="text-holder text-center">
                        <div class="button">
                            <a href="{% url 'backend:Service' service_id=3 %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>    
                        </div>
                        <h4><a href="{% url 'backend:Service' service_id=3 %}">Cooking<br> Lunch/Dinner</a></h4>
                    </div>
                </div>
            </div>
            <!--End single solution style1-->
            <!--Start single solution style1--> 
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12"> 
                <div class="single-service-style1 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner">
                        <div class="img-holder">
                            <img src="{% static 'backend/images/services/3.jpg' %}" alt="Awesome Image">   
                        </div>
                    </div>
                    <div class="text-holder text-center">
                        <div class="button">
                            <a href="{% url 'backend:Service' service_id=4 %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>    
                        </div>
                        <h4><a href="{% url 'backend:Service' service_id=4 %}">Baby<br> Sitting</a></h4>
                    </div>
                </div>
            </div>
            <!--End single solution style1-->
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-us text-center wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
                    <h3>Don’t hesitate, contact us for help and services. <span>Book Online</span></h3>
                </div>
            </div>
        </div> 
    </div>
</section>